.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 984px;
  margin: 0 auto;
}

.header__logo {
  width: 254.84px;
  height: 68.94px;
}

.header__lead {
  margin-top: 92px;
  margin-bottom: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page {
    width: 100%;
  }

  .header__logo {
    width: 254px;
    height: 66px;
  }

  .header__lead {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    width: 100%;
  }

  .header__logo {
    width: 188px;
    height: 52px;
  }

  .header__lead {
    margin-top: 50px;
    margin-bottom: 64px;
  }
}
