.photo-grid {
  padding: 0 0 76px 0;
  max-width: 1184px;
  margin: 0 auto;
}

.photo-grid__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    width: calc(100% - 48px);
  }

  .photo-grid__items {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
    width: calc(100% - 32px);
  }

  .photo-grid__items {
    grid-template-columns: 1fr;
    margin-bottom: 62px;
    grid-gap: 12px;
  }
}
